# Instructions:

Please answer the following questions as thoroughly as possible to produce correct output and to clearly interpret the results if the question asks for it.

## Question 1 (50 points)

### Import neccessary libraries:

In [1]:
#Answer Here

### Load the dataset as excel 'titanic.xls'

In [2]:
#Answer Here

### Show the head of the dataframe and briefly explain the data

In [3]:
#Answer Here

### Return some info on the data and briefly explain what the categories mean

In [4]:
#Answer here

### 'Describe' the main statistical features of the data

In [5]:
#Answer here

### Include 50% to 100% percentile with 5% increments for the 'age' column in the describe method output

In [6]:
#Answer here

### What is the 80% percentile of the 'age' column?

In [7]:
#Answer here

### Create a sub dataframe where the age of passengers is above the 80% percentile calculated above

In [8]:
#Answer here

### Count the number of passengers in first class

In [9]:
#Answer here

### Create a new column called 'older than 90% percentile' where it's true/false if the passenger is older/younger than the 90% percentile

In [10]:
#Answer here

### Group the 'fare' column by the class of passenger and get the mean fare price for each class

In [11]:
#Answer here

### Plot the bar chart for the avg fare grouped by class

In [12]:
#Answer here

### Getting the number of outliers: define the upper bound and lower bound for the 'fare' column at 95% or 5% and count how many passengers are considered outliers

In [13]:
#Answer here

### Replace outliers in the dataframe by the mean of the 'fare' column

In [14]:
#Answer here

## Question 2 (50 points)

### Load the contents of 'titanic2.csv', look at the head of the data for its structure and combine it with the previous dataframe

In [15]:
#Answer here

In [16]:
#Anaswer here

### Plot a scatter plot of 'age' vs 'fare' for your data and calculate the correlation between these two columns

In [17]:
#Answer here

In [18]:
#Answer here

### Drop 'name', 'cabin', 'boat', 'body','home.dest', 'embarked', 'ticket' columns

In [19]:
#Answer here

# Filling missing data in 'age' column by using an educated guess:

### Write a function that takes two columns, 'age' and 'pclass', as input and depending on which pclass, if the age is NaN (command: pd.isnull(age)   ) it returns age 40, 30 or 25. For example, if input is [NaN, 1], it returns age = 40

In [20]:
#Answer here

### Use apply to clean up age database for NaN using the function created above

In [21]:
#Answer here

### In the 'fare' column, isolate and display the row where there is NaN

In [22]:
#Answer here

### Using apply fuction, convert the data in 'sex' column to zeros and ones: if female, replace by 1, otherwise by 0

In [23]:
#Answer here

### Display the top rows for 'sex' column

In [24]:
#Answer here

### Confirm that the contents of the 'sex' column are integers by showing the type of one content (zero's index, first, etc) or using the info command

In [25]:
#Answer here

### In 'fare' column, replace NaN with the mean of the column

In [26]:
#Answer here

### Drop any leftover NaN in the dataframe

In [27]:
#Answer here

### Display the head of cleaned dataframe

In [28]:
#Answer here

# QED!